body {
    background-color: aliceblue;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:30px;
    margin-top: 7%;
}

.site-content {
  margin-top: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
}

.container img {
  max-width: 5%;
  margin-right: 2%;
}

header {
  display: flex;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  text-align: center;
  background-color: violet;
}

#header-img {
  max-width: 256px;
  max-height: 256px;
  margin-top: 32px;
  margin-bottom: 32px;
  
}

.sub-navbar {
  margin-top: 16px;
  background-color: violet;
  font-family: 'Open Sans Condensed', sans-serif;
}

#navbar1 {
  margin-top: 16px;
  background-color: violet;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
}

#navbar2 {
  margin-bottom: 32px;
  background-color: violet;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
}

#vazio1 {
  height: 128px;
}


@media (min-width: 400px){
  h1 {
    font-size: 60px;
    font-family: 'Amatic SC', cursive;
    color: #630041;
    text-align:center;
  }
  h2 {
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    color:  	#630041;
  }
  h3 {
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
  }

}

h4 {
  font-size: 55px;
  font-family: 'Amatic SC', cursive;
  color:  	#630041;
  text-align: center;
}